*{margin: 0px;padding:0px;font-family: 微软雅黑;}
a{text-decoration: none;color: black;}
#container{width: 1200px;margin: auto;}
/* 顶部条 */
#container>#top{width: 1200px;height: 446px;background-color: white;}
#container>#top>.left{width: 500px;height: 36px;list-style: none;float: right;margin-bottom: 10px;}
#container>#top>.left>li{width: 100px; ;line-height: 36px;float: left;text-align: center;}
#container>#top>.left a{width:100px;height:36px;display:block;font-size:12px;text-decoration: none;color: black;}
#container>#top>.left a:hover{background-color:#ccc;color: white;font-size:16px;font-weight: bold;border-radius: 5px;}
/* 企业logo */
#container>#top>.right{width: 162px;height: 36px;margin-right:45px; margin-bottom: 10px;}

#container>#top>.bottom{width:1200px;height:400px;}
#container>#top>.bottom p{width:100px;height:400px;font-size: 55px;font-weight: bold;line-height:100px ;margin-left: 36px;margin-top:90px;}
#container>#top>.bottom>.last{width: 200px;height:400px;display: flex;align-items: center;float: left;}
#container>#top>.bottom>.last>img{width: 100px;height: 100px;opacity: 0;cursor:pointer;}
#container>#top>.bottom>.img{width: 800px;height:400px;float: left;background-size: 100% 100%;border-radius: 5px;}
#container>#top>.bottom>.next{width: 200px;height:400px;display: flex;align-items: center;float: right;}
#container>#top>.bottom>.next>img{width: 100px;height: 100px;opacity: 0;cursor:pointer;text-align: center;}
/* Index */
/* 探天地之大，联梦想之众 */
#index{width: 1200px;height: 220px;}
#index>.title{height:100px;font-size: 45px;line-height:100px;margin-left:20px;font-family:微软雅黑;background-color: white;}
#index>.xuan{width: 1200px;height: 60px;border-bottom: solid 1px #ccc;background-color: white;}
#index>.xuan>div{width: 300px;height: 59px;font-size:20px;color:gray;line-height: 59px;border-bottom: solid 1px;float: left;text-align: center;}
#index>.diffcont{width: 1200px;height: 60px;background-color: white;border-bottom: solid 1px #ccc;}
#index>.diffcont>div{text-align:center;height: 60px;line-height: 60px;float: left;font-size: 20px;font-weight: bold;color: dimgray;}
/* allCar */

.car_frame{width: 1200px;height: 360px;background: white;margin-top: 40px;border-bottom: dotted 1px #ccc;}
.car{width:400px ;height:360px ;float: left;}
.car_info{width: 380px;height: 66px;;margin-left: 20px;text-indent: 10px;}
.car_info>.name{font-size: 24px;font-weight: bold;}
.car_info>.price{font-size: 14px;color: rgba(0, 0, 0,1);}
.car_info>.disc{font-size: 10px;height:20px;line-height:20px;color: rgba(0, 0, 0,0.7);}
.car_link{width: 400px;height: 80px;;text-align: center;line-height: 50px;font-size: 20px;font-weight: bold;color: white;}
.car_link>.p1{background-color: gray;width:140px;height:50px;float: left;border-radius: 20px;margin:15px 20px 15px 40px;}
.car_link>.p2{background-color: royalblue;width:140px;height:50px;float: right;border-radius: 20px;margin:15px 40px 15px 20px;}
.car_img{width: 360px;height: 198px;;margin:0px 20px 5px 20px;background-size:100% 100%;background-repeat: no-repeat;border-radius: 10px;}

.car_list{width:800px;height:360px;float: right;display: flex;align-items: center;}
.car_list>table{display:block;margin: -40px 100px 0px 100px;text-align: center;border-radius: 6px;}
.car_list>table th{width: 600px;height: 30px;font-size: 28px;border-bottom: solid 2px #ccc;}
.car_list>table td{width: 600px;height: 40px;font-size: 18px;font-weight: 500;border-bottom: solid 1px #ccc;}

/* bottom */
#bottom{width: 1200px;height: 315px;border-radius: 5px;}
#bottom>.link{width:1200px;font-size: 12px;}
#bottom>.link>table{width: 1200px;height:300px;text-align: center;}
#bottom>.link>table a{text-decoration: none;color:rgba(0, 0, 0,0.5);}
#bottom>.copyright{width: 1200px; font-size: 10px;color:#ccc}
#bottom>.copyright>.c_l{list-style:none;float: left;}
#bottom>.copyright>.c_r{list-style:none;float: right;}